.outdial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.625rem;
  width: 16.5rem;

  mdc-input {
    padding-bottom: 0; // default is 1 rem, 1.5 rem needed but provided by .keys
  }

  .outdial-input {
    width: 100%;
  }

  .outdial-ani-select-container {
    position: relative;
    width: 100%;
    padding-bottom: 1rem;
  }

  .outdial-select-arrow-icon {
    position: absolute;
    right: 0.375rem;
    top: 71%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 1;
  }

  #outdial-ani-option-select {
    width: 100%;
    label {
      margin: 0;
    }
  }

  .outdial-ani-option-name {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1.5rem;
    padding: 1.5rem 0;
    list-style-type: none;
    margin: 0;
  }

  .key {
    justify-content: center;
    background: var(--mds-color-theme-background-alert-default-normal);
    color: var(--mds-color-theme-text-primary-normal);

    transition: background-color 0.2s ease;

    &:hover {
      background: var(--mds-color-theme-background-primary-hover);
    }

    &:active {
      background: var(--mds-color-theme-background-primary-active);
    }
  }

  .dialpad-tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16.5rem;
  }

  .address-book-container {
    width: 100%;
  }

  .address-book {
    height: 16rem;
    width: 100%;
  }

  .address-book-search-input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .address-book-entries {
    width: 100%;
    height: 14rem;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .address-book-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .address-book-entry {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem;
  }

  .address-book-entry:hover {
    background: var(--mds-color-theme-background-primary-hover);
  }

  .address-book-entry.selected {
    background: var(--mds-color-theme-background-primary-hover);
  }

  .tab-list {
    padding-bottom: 1rem;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex: 2;
    }
    
    mdc-button {
      display: none;
    }

    mdc-tab {
      --mdc-tab-glass-active-color: #000000F2;
      --mdc-tab-glass-active-background-color-hover: #b2b2b2;
      --mdc-tab-glass-active-background-color-normal: #DEDEDE;
    }
    
  }
}

