.keypad {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.625rem;
  width: 15.625rem;

  
  mdc-input {
    padding-bottom: 0; // default is 1 rem, 1.5 rem needed but provided by .keys
  }

  .outdial-input {
    width: 100%;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1.5rem;
    padding: 1.5rem 0;
    list-style-type: none;
    margin: 0;
  }

  .key {
    justify-content: center;
    background: var(--mds-color-theme-background-alert-default-normal);
    color: var(--mds-color-theme-text-primary-normal);
    
    transition: background-color 0.2s ease;

    &:hover {
      background: var(--mds-color-theme-background-primary-hover);
    }

    &:active {
      background: var(--mds-color-theme-background-primary-active);
    }
  }
}